* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	background-color: #101010;
	color: #FFFFFF;
	display: flex;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	height: 100%;
	overflow: hidden;
}

a {
	color: #c0c0c0;
}

a:hover {
	text-decoration: none;
}

canvas#main {
	flex-grow: 1;
}

canvas:active {
	cursor: none;
}

input,
select,
textarea {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}

input[type="checkbox"] {
	margin-right: 10px;
	margin-top: 4px;
}

input[type="color"] {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	min-width: 60px;
}

label {
	display: inline-block;
	margin-right: 20px;
}

label[for] {
	cursor: pointer;
}

.settings {
	flex-basis: 260px;
	flex-shrink: 0;
	overflow-y: auto;
	padding: 20px;
	width: 260px;
}

	h2 {
		font-size: 16px;
		margin-bottom: 10px;
	}

	select {
		cursor: pointer;
		width: 100%;
	}

	.settings section {
		margin-bottom: 20px;
	}

	.wrap {
		align-items: flex-start;
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
	}

	.wrap-left {
		justify-content: flex-start;
	}

	.settings .wrap:last-child {
		margin-bottom: 0;
	}

	.gradient-type {
		margin-bottom: 10px;
	}

	.about p {
		font-style: italic;
	}
